html {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.4rem;
  line-height: $baseline * 2;
  font-family: 'Lato', sans-serif;
  // background-image: url('images/grid-mid-tablet.png');
  margin: 0;
  padding: 0;
}

main {
  @include col-pad;
}
