.daily-list {
  margin-top: $baseline * 3;
  & > ul {
    margin-left: 0;
    padding: 0;
    @include flex;
    @include fill-padding;
    & > li {
      list-style: none;
      margin-bottom: $baseline * 2;
      width: 100%;
      @include bbox;
      @include col-pad;
      @media screen and (min-width: 600px) {
        width: 50%;
      }
      a {
        display: block;
      }
      &:hover a {
        h3 {
          color: white;
          background-color: $color-primary;
        }
        .daily__highlights {
          background-color: $color-secondary;
          li {
            color: white;
          }
        }
      }
      & > p {
        padding: 0;
      }
    }
  }

  h3 {
    @include bbox;
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 0;
    margin-top: 0;
    color: $color-primary;
    padding-top: 12px;
    height: $baseline * 4;
    border: 2px solid $color-primary;
    background-color: white;
  }

  .more-link {
    display: block;
    text-align: center;
    background-color: $color-accent;
    color: white;
    border: 2px solid $color-accent;
    padding: 4px 6px;
  }

  .daily__highlights {
    padding-top: $baseline;
    padding-bottom: $baseline;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    border: 2px solid $color-secondary;
    border-top: 0;
    border-bottom: 0;
    li {
      font-size: 1.4rem;
      margin-top: $baseline;
      margin-bottom: $baseline;
      color: $color-secondary;
    }
  }

  @include media(960px) {
    width: 2/3 * 100%;
    margin-top: 0;
    @include bbox;
    @include col-pad;
    h2 {
      text-align: left;
    }
  }
  @include media(1600px) {
    & > ul > li {
      width: 1/3 * 100%;
    }
  }
}
