.subscribe {
  @include bbox;
  padding: 0 $pad;
  margin-top: $baseline * 4;
  margin-bottom: $baseline * 6;
  p {
    text-align: center;
    font-weight: 700;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    color: $color-accent;
  }
  input {
    @include bbox;
    border: 2px solid $color-accent;
    padding: 10px;
    font-size: 1.7rem;
    line-height: $baseline * 2;
    display: block;
    width: 100%;
  }
  button {
    display: block;
    border: none;
    @include bbox;
    background-color: $color-accent;
    padding: 10px;
    text-align: center;
    font-size: 1.7rem;
    color: white;
    width: 100%;
    line-height: $baseline * 2;
    margin-top: $baseline;
    cursor: pointer;
  }

  @include media(600px) {
    @include flex;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    p {
      width: 100%;
    }
    input {
      width: 2/3 * 100%;
    }
    button {
      margin-top: 0;
      width: 1/3 * 100%;
    }
  }

  @include media(1200px) {
    max-width: 100%;
    width: 1/3 * 100%;
    margin-top: $baseline * 5;
    p {
      text-align: left;
    }
  }
}
