$baseline: 12px;
$gutter: 40px;
$pad: $gutter / 2;

$color-primary: #283951;
$color-secondary: #EF5225;
$color-accent: #127ABF;
$color-body: #3B3F42;

$baseline-2: $baseline * 2;
$baseline-3: $baseline * 3;
$baseline-4: $baseline * 4;
$baseline-5: $baseline * 5;
